<!DOCTYPE html>
{% load staticfiles %}
<html>
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>

</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light">
		  <a class="navbar-brand" href="{% url 'homepage:homepage' %}">
		  <img src="{% static 'images/nama.png' %}" width="150px" class="img-fluid" alt="noviarmdnfg"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
			      <li class="nav-item">
			      	<a class="nav-link" href="{% url 'homepage:home' %}">About<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'homepage:education' %}">Education</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'homepage:experience' %}">Experience</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'homepage:abilities' %}">Abilities</a>
			      </li>
			      <li class="nav-item">
			      	<a class="nav-link" href="{% url 'homepage:schedule' %}">Schedule</a>
			      </li>
			      <li class="nav-item">
			      	<a class="nav-link" href="{% url 'homepage:contact' %}" tabindex="-1" aria-disabled="true">Contact</a>
			      </li>
			    </ul>
		  </div>
		</nav>
</body>