<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Novia Ramadani</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href= "{% static 'css/style.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	

</head>
<body>
	<div class="container">
		{% include "homepage/../navbar/navbar.html" %}
		
		<div id="box">
			<div id= "frame">
				<hr align="left">
				<h2>Abilities</h2>
			</div>
			
			<div id="text">
				<ul>
				    <li>
				    	<div id="ab">SKILL</div>
					        <div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							      Java
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:64% ">80%</div>
							    </div>
							</div>
							<div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							      Phyton
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:64%">80%</div>
							    </div>
							</div>
							<div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							      HTML
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:64%">80%</div>
							    </div>
							</div>
							<div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							      Microsoft Office
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:76%">95%</div>
							    </div>
							</div>
					</li>
					
				    <li>
				    	<div id="ab">Expertise</div>
					        <div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							      Programming
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:64%">80%</div>
							    </div>
							</div>
							<div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							     	Financial Management
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:76%">95%</div>
							    </div>
							</div>
							<div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							      Time Management
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:76%">95%</div>
							    </div>
							</div>
					</li>
					<li>
						<div id="ab">Expertise</div>
							<div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							      Indonesia
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:80%">100%</div>
							    </div>
							</div>
							<div class="row justify-content-start">
					        	<div class="col-12 col-md-4">
							     	English
							    </div>
							    <div class="col">
							      <div class="w3-black" style="height:24px;width:72%">90%</div>
							    </div>
							</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>