<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Novia Ramadani</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="container">
		{% include "homepage/../navbar/navbar.html" %}
		
		<div id="box">
			<div id= "frame">
				<hr align="left">
				<h2>Contact</h2>
			</div>

			<div id="text">
				<div id="sosmed">
					<div class="row mx-lg">
						<div class="col-12 col-md">
							<ul>
							    <li>
							    	<a href="https://mail.google.com/" class="fa fa-envelope"> &nbsp &nbsp noviaramadani0@gmail.com</a>
							    </li>
							    <li>
							    	<a href="https://instagram.com/noviarmdnfg" class="fa fa-instagram"> &nbsp&nbsp &nbsp noviarmdnfg</a>
							    </li>
							</ul>
						</div>
						<div class="col-12 col-md">
							<ul>
							    <li>
							    	<a href="https://twitter.com/novyarama" class="fa fa-twitter"> &nbsp &nbsp novyarama</a>
							    </li>
							    <li>
							    	<a href="https://www.linkedin.com/in/novia-ramadani-90aaa9171/" class="fa fa-linkedin"> &nbsp &nbsp Novia Ramadani</a>
							    </li>
							</ul>						
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>