<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Novia Ramadani</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>

</head>
<body>
	<div class="container">
		{% include "homepage/../navbar/navbar.html" %}
		
		<div id="box">
			<div id= "frame">
				<hr align="left">
				<h2>Education</h2>
			</div>
			
		
			<div id="text">
				<ul>
				    <li>
				    	<div id= "kuliah">
							<div id="sekolah">
								<p>Universitas Indonesia</p>	
							</div>
							<div id="lama">
								<p>Faculty Of Computer Science <br>Majoring in Information System<br>2018 - now </p>
							</div>
						</div>
				    </li>
				    <li>
				    	<div id="SMA">
							<div id="sekolah">
								<p>SMA Negeri 6 Prabumulih</p>
							</div>
							<div id="lama">
								<p>2015 - 2018</p>
							</div>
						</div>
				    </li>
				    <li>
				    	<div id="SMP">
							<div id="sekolah">
								<p>MTS Negeri 1 Prabumulih</p>
							</div>
							<div id="lama">
								<p>2012 - 2015</p>
							</div>
						</div>
				    </li>
				    <li>
				    	<div id="SD">
							<div id="sekolah">
								<p>SD Negeri 23 Prabumulih</p>
							</div>
							<div id="lama">
								<p>2006 - 2012</p>
							</div>
						</div>
				    </li>
				</ul>
			</div>
		</div>
		
	</div>
</body>
</html>