<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Novia Ramadani</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>

</head>
<body>
	<div class = "container">
		{% include "homepage/../navbar/navbar.html" %}
		<div id="cont">
			<div class = "row mx-lg-n5" >
				<div class="col-12 col-md-5 py-3">
					<img id= "foto" src="{% static 'images/IMG_20180721_205549.jpg' %}" class="img-fluid" width="250px"> 
				</div>
				
				<div class="col-12 col-md-6 py-3 px-lg-5">
					<div id= "about">
						<hr align="left">
						<h2>About Me</h2>
					</div>

					<div id="tulisan">
					<p>Hi! I'm Novia Ramadani. I'm a Computer Science student at Universitas Indonesia class of 2018. I have an interest in learning about computers, technology and business. I'm a responsible person, can work with the team and fast respon. I'm a person who like to learn new things. I also have organizational experience, leadership and time management.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>