<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Novia Ramadani</title>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    </head>
    <body>
        <div class="container2">
			<div id="homepage">
				<div class="row mx-lg">
					<div class="col-md-6 col-12">
						<div id="teks">
							<div id = "hi">
								<h6>Hello, I'm</h6>
							</div>
							<div id="nama">
								NOVIA RAMADANI
							</div>
							<div id="cs">
								A Computer Science Student
							</div>
							<div id="tombol">
								<a href="{% url 'homepage:home' %}">View Resume</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-12" id="ava">
						<img id="imgs" src="{% static 'images/ava.png' %}" class="img-fluid" width="400px"  alt="novia">
					</div>
				</div>
			</div>
		</div>
    </body>
</html>