<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Novia Ramadani</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>

</head>
<body>
	<div class = "container">
		{% include "homepage/../navbar/navbar.html" %}

		<div id="box">
			<div id= "frame">
				<hr align="left">
				<h2>My Schedule</h2>
			</div>
			
			<div id="text">
				<div class="row mx-lg">
					<div class="col-12 col-md-6">
						<table class="table table-borderless">
						  <thead>
						    <tr>
						      <th scope="col">Date</th>
						      <th scope="col">Time</th>
						      <th scope="col">Place</th>
						      <th scope="col">Category</th>
						      <th scope="col">To Do</th>
						      <th scope="col"></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
								{% for todos in Todolist %}
									<td class="date"> {{ todos.date }} </td>
						      		<td class="time"> {{ todos.time }} </td>
						      		<td class="where">{{ todos.where }}</td>
						      		<td class="category">{{ todos.category }}</td>
						      		<td class="todo"> {{ todos.todo }} </td>
						      		<td><form action="{% url 'homepage:delete_schedule' todos.id %}" method="GET">
  									<button type="submit" class="btn btn-primary">Delete</button>
								  	</form>
							 		</td>
						    </tr>
						    {% endfor %}
						  </tbody>
						</table>
					</div>

					<div class="col-12 col-md-6">
						<form method="POST" action="{% url 'homepage:send' %}">
							{% csrf_token %}
							{{ form }}
						  
						  <button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>		

	</div>
</body>
</html>