body{
	background: url("/static/images/668006.242d4f10fe51.jpg") fixed;
	background-size: cover;
	font-family: Source Sans Pro;
	font-style: normal;
}
hr{
	border: 1px solid #000000;
	width: 100%;
	max-width: 160px;

}
h2{
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
}

.container{
	position: absolute;
	margin: 5%;
	background-color: white;
	max-width: 1200px;
	max-height: 3000px;
	width: 90%;
	height: 125%;
	font-size: 20px;
}
.container2{
	position: inline-block;
	text-align: center;
	margin: 5% auto;
	background-color: white;
	max-width: 1000px;
	max-height: 1500px;
	width: 90%;
	font-size: 20px;
}
#navbarNav{
	float: right;
}
#foto{
	border-radius: 50%;
	max-width: 250px;
	width: 100%;
}
.navbar-brand{
	float: left;
}
.col-md-5 {
    text-align: right;
}
#cont{
	position: inline-block;
    margin: 10% auto;
}
#about, #tulisan{
	text-align: justify;
	font-size: medium;
}
#sekolah, #jabatan{
	font-style: normal;
	font-weight: 600;
	font-size: 100%;
}
#lama, #organisasi{
	font-size: 90%;
}
#frame{
	margin-left: 10%;
	margin-top : 5%;
	margin-bottom:3%;
}
#text{
	margin-left: 9%;
}
#ab{
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	margin-top:30px;
}
#sosmed{
	font-size: 100%;
	margin-top:5%;
}
#sosmed a, #sosmed ul{
	text-decoration: none;
	color: black;
	list-style-type: none;
	list-style-position: outside;
	padding-inline-start: 2%;
}
#sosmed li{
	margin-bottom: 1em;
}
#teks{
	text-align: center;
	margin-top: 20%;
}
#ava{
	text-align: right !important;
}
#nama{
	font-size: 100%;
	font-weight: bold;
}
#cs{
	font-size: 90%;
}
#tombol{
	width: 100%;
	max-width: 200px;
	border: 1px solid #000000;
	padding: 5% 7%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
#tombol a{
	text-decoration: none;
	color: black;
}

